<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjut.oj.edu.dao.TChapterMapper" >
  <resultMap id="BaseResultMap" type="com.fjut.oj.edu.pojo.TChapter" >
    <id column="chapterId" property="chapterid" jdbcType="BIGINT" />
    <result column="courseId" property="courseid" jdbcType="BIGINT" />
    <result column="chapterName" property="chaptername" jdbcType="VARCHAR" />
    <result column="chapterIntroductions" property="chapterintroductions" jdbcType="VARCHAR" />
    <result column="chapterResource" property="chapterresource" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    chapterId, courseId, chapterName, chapterIntroductions, chapterResource
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fjut.oj.edu.pojo.TChapterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_chapter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_chapter
    where chapterId = #{chapterid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_chapter
    where chapterId = #{chapterid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fjut.oj.edu.pojo.TChapterExample" >
    delete from t_chapter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fjut.oj.edu.pojo.TChapter" >
    insert into t_chapter (chapterId, courseId, chapterName, 
      chapterIntroductions, chapterResource)
    values (#{chapterid,jdbcType=BIGINT}, #{courseid,jdbcType=BIGINT}, #{chaptername,jdbcType=VARCHAR}, 
      #{chapterintroductions,jdbcType=VARCHAR}, #{chapterresource,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fjut.oj.edu.pojo.TChapter" >
    insert into t_chapter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chapterid != null" >
        chapterId,
      </if>
      <if test="courseid != null" >
        courseId,
      </if>
      <if test="chaptername != null" >
        chapterName,
      </if>
      <if test="chapterintroductions != null" >
        chapterIntroductions,
      </if>
      <if test="chapterresource != null" >
        chapterResource,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chapterid != null" >
        #{chapterid,jdbcType=BIGINT},
      </if>
      <if test="courseid != null" >
        #{courseid,jdbcType=BIGINT},
      </if>
      <if test="chaptername != null" >
        #{chaptername,jdbcType=VARCHAR},
      </if>
      <if test="chapterintroductions != null" >
        #{chapterintroductions,jdbcType=VARCHAR},
      </if>
      <if test="chapterresource != null" >
        #{chapterresource,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fjut.oj.edu.pojo.TChapterExample" resultType="java.lang.Integer" >
    select count(*) from t_chapter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_chapter
    <set >
      <if test="record.chapterid != null" >
        chapterId = #{record.chapterid,jdbcType=BIGINT},
      </if>
      <if test="record.courseid != null" >
        courseId = #{record.courseid,jdbcType=BIGINT},
      </if>
      <if test="record.chaptername != null" >
        chapterName = #{record.chaptername,jdbcType=VARCHAR},
      </if>
      <if test="record.chapterintroductions != null" >
        chapterIntroductions = #{record.chapterintroductions,jdbcType=VARCHAR},
      </if>
      <if test="record.chapterresource != null" >
        chapterResource = #{record.chapterresource,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_chapter
    set chapterId = #{record.chapterid,jdbcType=BIGINT},
      courseId = #{record.courseid,jdbcType=BIGINT},
      chapterName = #{record.chaptername,jdbcType=VARCHAR},
      chapterIntroductions = #{record.chapterintroductions,jdbcType=VARCHAR},
      chapterResource = #{record.chapterresource,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fjut.oj.edu.pojo.TChapter" >
    update t_chapter
    <set >
      <if test="courseid != null" >
        courseId = #{courseid,jdbcType=BIGINT},
      </if>
      <if test="chaptername != null" >
        chapterName = #{chaptername,jdbcType=VARCHAR},
      </if>
      <if test="chapterintroductions != null" >
        chapterIntroductions = #{chapterintroductions,jdbcType=VARCHAR},
      </if>
      <if test="chapterresource != null" >
        chapterResource = #{chapterresource,jdbcType=VARCHAR},
      </if>
    </set>
    where chapterId = #{chapterid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fjut.oj.edu.pojo.TChapter" >
    update t_chapter
    set courseId = #{courseid,jdbcType=BIGINT},
      chapterName = #{chaptername,jdbcType=VARCHAR},
      chapterIntroductions = #{chapterintroductions,jdbcType=VARCHAR},
      chapterResource = #{chapterresource,jdbcType=VARCHAR}
    where chapterId = #{chapterid,jdbcType=BIGINT}
  </update>
</mapper>