<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjut.oj.edu.dao.TCourseMapper" >
  <resultMap id="BaseResultMap" type="com.fjut.oj.edu.pojo.TCourse" >
    <id column="courseId" property="courseid" jdbcType="BIGINT" />
    <result column="courseName" property="coursename" jdbcType="VARCHAR" />
    <result column="courseIntroduction" property="courseintroduction" jdbcType="VARCHAR" />
    <result column="courseImg" property="courseimg" jdbcType="VARCHAR" />
    <result column="courseLength" property="courselength" jdbcType="BIGINT" />
    <result column="courseStartTime" property="coursestarttime" jdbcType="TIMESTAMP" />
    <result column="courseEndTime" property="courseendtime" jdbcType="TIMESTAMP" />
    <result column="teacherId" property="teacherid" jdbcType="BIGINT" />
    <result column="courseCharge" property="coursecharge" jdbcType="DOUBLE" />
    <result column="courseNumAccount" property="coursenumaccount" jdbcType="BIGINT" />
    <result column="coursePush" property="coursepush" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    courseId, courseName, courseIntroduction, courseImg, courseLength, courseStartTime, 
    courseEndTime, teacherId, courseCharge, courseNumAccount, coursePush
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fjut.oj.edu.pojo.TCourseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_course
    where courseId = #{courseid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_course
    where courseId = #{courseid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fjut.oj.edu.pojo.TCourseExample" >
    delete from t_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fjut.oj.edu.pojo.TCourse" >
    insert into t_course (courseId, courseName, courseIntroduction, 
      courseImg, courseLength, courseStartTime, 
      courseEndTime, teacherId, courseCharge, 
      courseNumAccount, coursePush)
    values (#{courseid,jdbcType=BIGINT}, #{coursename,jdbcType=VARCHAR}, #{courseintroduction,jdbcType=VARCHAR}, 
      #{courseimg,jdbcType=VARCHAR}, #{courselength,jdbcType=BIGINT}, #{coursestarttime,jdbcType=TIMESTAMP}, 
      #{courseendtime,jdbcType=TIMESTAMP}, #{teacherid,jdbcType=BIGINT}, #{coursecharge,jdbcType=DOUBLE}, 
      #{coursenumaccount,jdbcType=BIGINT}, #{coursepush,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.fjut.oj.edu.pojo.TCourse" >
    insert into t_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseid != null" >
        courseId,
      </if>
      <if test="coursename != null" >
        courseName,
      </if>
      <if test="courseintroduction != null" >
        courseIntroduction,
      </if>
      <if test="courseimg != null" >
        courseImg,
      </if>
      <if test="courselength != null" >
        courseLength,
      </if>
      <if test="coursestarttime != null" >
        courseStartTime,
      </if>
      <if test="courseendtime != null" >
        courseEndTime,
      </if>
      <if test="teacherid != null" >
        teacherId,
      </if>
      <if test="coursecharge != null" >
        courseCharge,
      </if>
      <if test="coursenumaccount != null" >
        courseNumAccount,
      </if>
      <if test="coursepush != null" >
        coursePush,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseid != null" >
        #{courseid,jdbcType=BIGINT},
      </if>
      <if test="coursename != null" >
        #{coursename,jdbcType=VARCHAR},
      </if>
      <if test="courseintroduction != null" >
        #{courseintroduction,jdbcType=VARCHAR},
      </if>
      <if test="courseimg != null" >
        #{courseimg,jdbcType=VARCHAR},
      </if>
      <if test="courselength != null" >
        #{courselength,jdbcType=BIGINT},
      </if>
      <if test="coursestarttime != null" >
        #{coursestarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="courseendtime != null" >
        #{courseendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="teacherid != null" >
        #{teacherid,jdbcType=BIGINT},
      </if>
      <if test="coursecharge != null" >
        #{coursecharge,jdbcType=DOUBLE},
      </if>
      <if test="coursenumaccount != null" >
        #{coursenumaccount,jdbcType=BIGINT},
      </if>
      <if test="coursepush != null" >
        #{coursepush,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fjut.oj.edu.pojo.TCourseExample" resultType="java.lang.Integer" >
    select count(*) from t_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_course
    <set >
      <if test="record.courseid != null" >
        courseId = #{record.courseid,jdbcType=BIGINT},
      </if>
      <if test="record.coursename != null" >
        courseName = #{record.coursename,jdbcType=VARCHAR},
      </if>
      <if test="record.courseintroduction != null" >
        courseIntroduction = #{record.courseintroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.courseimg != null" >
        courseImg = #{record.courseimg,jdbcType=VARCHAR},
      </if>
      <if test="record.courselength != null" >
        courseLength = #{record.courselength,jdbcType=BIGINT},
      </if>
      <if test="record.coursestarttime != null" >
        courseStartTime = #{record.coursestarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.courseendtime != null" >
        courseEndTime = #{record.courseendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.teacherid != null" >
        teacherId = #{record.teacherid,jdbcType=BIGINT},
      </if>
      <if test="record.coursecharge != null" >
        courseCharge = #{record.coursecharge,jdbcType=DOUBLE},
      </if>
      <if test="record.coursenumaccount != null" >
        courseNumAccount = #{record.coursenumaccount,jdbcType=BIGINT},
      </if>
      <if test="record.coursepush != null" >
        coursePush = #{record.coursepush,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_course
    set courseId = #{record.courseid,jdbcType=BIGINT},
      courseName = #{record.coursename,jdbcType=VARCHAR},
      courseIntroduction = #{record.courseintroduction,jdbcType=VARCHAR},
      courseImg = #{record.courseimg,jdbcType=VARCHAR},
      courseLength = #{record.courselength,jdbcType=BIGINT},
      courseStartTime = #{record.coursestarttime,jdbcType=TIMESTAMP},
      courseEndTime = #{record.courseendtime,jdbcType=TIMESTAMP},
      teacherId = #{record.teacherid,jdbcType=BIGINT},
      courseCharge = #{record.coursecharge,jdbcType=DOUBLE},
      courseNumAccount = #{record.coursenumaccount,jdbcType=BIGINT},
      coursePush = #{record.coursepush,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fjut.oj.edu.pojo.TCourse" >
    update t_course
    <set >
      <if test="coursename != null" >
        courseName = #{coursename,jdbcType=VARCHAR},
      </if>
      <if test="courseintroduction != null" >
        courseIntroduction = #{courseintroduction,jdbcType=VARCHAR},
      </if>
      <if test="courseimg != null" >
        courseImg = #{courseimg,jdbcType=VARCHAR},
      </if>
      <if test="courselength != null" >
        courseLength = #{courselength,jdbcType=BIGINT},
      </if>
      <if test="coursestarttime != null" >
        courseStartTime = #{coursestarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="courseendtime != null" >
        courseEndTime = #{courseendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="teacherid != null" >
        teacherId = #{teacherid,jdbcType=BIGINT},
      </if>
      <if test="coursecharge != null" >
        courseCharge = #{coursecharge,jdbcType=DOUBLE},
      </if>
      <if test="coursenumaccount != null" >
        courseNumAccount = #{coursenumaccount,jdbcType=BIGINT},
      </if>
      <if test="coursepush != null" >
        coursePush = #{coursepush,jdbcType=BIGINT},
      </if>
    </set>
    where courseId = #{courseid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fjut.oj.edu.pojo.TCourse" >
    update t_course
    set courseName = #{coursename,jdbcType=VARCHAR},
      courseIntroduction = #{courseintroduction,jdbcType=VARCHAR},
      courseImg = #{courseimg,jdbcType=VARCHAR},
      courseLength = #{courselength,jdbcType=BIGINT},
      courseStartTime = #{coursestarttime,jdbcType=TIMESTAMP},
      courseEndTime = #{courseendtime,jdbcType=TIMESTAMP},
      teacherId = #{teacherid,jdbcType=BIGINT},
      courseCharge = #{coursecharge,jdbcType=DOUBLE},
      courseNumAccount = #{coursenumaccount,jdbcType=BIGINT},
      coursePush = #{coursepush,jdbcType=BIGINT}
    where courseId = #{courseid,jdbcType=BIGINT}
  </update>
</mapper>