<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjut.oj.edu.dao.TMallMapper" >
  <resultMap id="BaseResultMap" type="com.fjut.oj.edu.pojo.TMall" >
    <id column="mallId" property="mallid" jdbcType="BIGINT" />
    <result column="mallTitle" property="malltitle" jdbcType="VARCHAR" />
    <result column="acb" property="acb" jdbcType="BIGINT" />
    <result column="rmb" property="rmb" jdbcType="BIGINT" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="endTime" property="endtime" jdbcType="TIME" />
    <result column="buyLimit" property="buylimit" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    mallId, mallTitle, acb, rmb, userId, endTime, buyLimit
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fjut.oj.edu.pojo.TMallExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_mall
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_mall
    where mallId = #{mallid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_mall
    where mallId = #{mallid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fjut.oj.edu.pojo.TMallExample" >
    delete from t_mall
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fjut.oj.edu.pojo.TMall" >
    insert into t_mall (mallId, mallTitle, acb, 
      rmb, userId, endTime, buyLimit
      )
    values (#{mallid,jdbcType=BIGINT}, #{malltitle,jdbcType=VARCHAR}, #{acb,jdbcType=BIGINT}, 
      #{rmb,jdbcType=BIGINT}, #{userid,jdbcType=VARCHAR}, #{endtime,jdbcType=TIME}, #{buylimit,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fjut.oj.edu.pojo.TMall" >
    insert into t_mall
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mallid != null" >
        mallId,
      </if>
      <if test="malltitle != null" >
        mallTitle,
      </if>
      <if test="acb != null" >
        acb,
      </if>
      <if test="rmb != null" >
        rmb,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="buylimit != null" >
        buyLimit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mallid != null" >
        #{mallid,jdbcType=BIGINT},
      </if>
      <if test="malltitle != null" >
        #{malltitle,jdbcType=VARCHAR},
      </if>
      <if test="acb != null" >
        #{acb,jdbcType=BIGINT},
      </if>
      <if test="rmb != null" >
        #{rmb,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIME},
      </if>
      <if test="buylimit != null" >
        #{buylimit,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fjut.oj.edu.pojo.TMallExample" resultType="java.lang.Integer" >
    select count(*) from t_mall
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_mall
    <set >
      <if test="record.mallid != null" >
        mallId = #{record.mallid,jdbcType=BIGINT},
      </if>
      <if test="record.malltitle != null" >
        mallTitle = #{record.malltitle,jdbcType=VARCHAR},
      </if>
      <if test="record.acb != null" >
        acb = #{record.acb,jdbcType=BIGINT},
      </if>
      <if test="record.rmb != null" >
        rmb = #{record.rmb,jdbcType=BIGINT},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.endtime != null" >
        endTime = #{record.endtime,jdbcType=TIME},
      </if>
      <if test="record.buylimit != null" >
        buyLimit = #{record.buylimit,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_mall
    set mallId = #{record.mallid,jdbcType=BIGINT},
      mallTitle = #{record.malltitle,jdbcType=VARCHAR},
      acb = #{record.acb,jdbcType=BIGINT},
      rmb = #{record.rmb,jdbcType=BIGINT},
      userId = #{record.userid,jdbcType=VARCHAR},
      endTime = #{record.endtime,jdbcType=TIME},
      buyLimit = #{record.buylimit,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fjut.oj.edu.pojo.TMall" >
    update t_mall
    <set >
      <if test="malltitle != null" >
        mallTitle = #{malltitle,jdbcType=VARCHAR},
      </if>
      <if test="acb != null" >
        acb = #{acb,jdbcType=BIGINT},
      </if>
      <if test="rmb != null" >
        rmb = #{rmb,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=TIME},
      </if>
      <if test="buylimit != null" >
        buyLimit = #{buylimit,jdbcType=BIGINT},
      </if>
    </set>
    where mallId = #{mallid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fjut.oj.edu.pojo.TMall" >
    update t_mall
    set mallTitle = #{malltitle,jdbcType=VARCHAR},
      acb = #{acb,jdbcType=BIGINT},
      rmb = #{rmb,jdbcType=BIGINT},
      userId = #{userid,jdbcType=VARCHAR},
      endTime = #{endtime,jdbcType=TIME},
      buyLimit = #{buylimit,jdbcType=BIGINT}
    where mallId = #{mallid,jdbcType=BIGINT}
  </update>
</mapper>