<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjut.oj.edu.dao.TProblemMapper" >
  <resultMap id="BaseResultMap" type="com.fjut.oj.edu.pojo.TProblem" >
    <id column="problemId" property="problemid" jdbcType="BIGINT" />
    <result column="problemType" property="problemtype" jdbcType="BIGINT" />
    <result column="problemTitle" property="problemtitle" jdbcType="VARCHAR" />
    <result column="problemAward" property="problemaward" jdbcType="BIGINT" />
    <result column="problemAuthor" property="problemauthor" jdbcType="VARCHAR" />
    <result column="problemOwner" property="problemowner" jdbcType="VARCHAR" />
    <result column="discussId" property="discussid" jdbcType="BIGINT" />
    <result column="problemAns" property="problemans" jdbcType="VARCHAR" />
    <result column="problemAnalysis" property="problemanalysis" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    problemId, problemType, problemTitle, problemAward, problemAuthor, problemOwner, 
    discussId, problemAns, problemAnalysis
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fjut.oj.edu.pojo.TProblemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_problem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_problem
    where problemId = #{problemid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_problem
    where problemId = #{problemid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fjut.oj.edu.pojo.TProblemExample" >
    delete from t_problem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fjut.oj.edu.pojo.TProblem" >
    insert into t_problem (problemId, problemType, problemTitle, 
      problemAward, problemAuthor, problemOwner, 
      discussId, problemAns, problemAnalysis
      )
    values (#{problemid,jdbcType=BIGINT}, #{problemtype,jdbcType=BIGINT}, #{problemtitle,jdbcType=VARCHAR}, 
      #{problemaward,jdbcType=BIGINT}, #{problemauthor,jdbcType=VARCHAR}, #{problemowner,jdbcType=VARCHAR}, 
      #{discussid,jdbcType=BIGINT}, #{problemans,jdbcType=VARCHAR}, #{problemanalysis,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fjut.oj.edu.pojo.TProblem" >
    insert into t_problem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="problemid != null" >
        problemId,
      </if>
      <if test="problemtype != null" >
        problemType,
      </if>
      <if test="problemtitle != null" >
        problemTitle,
      </if>
      <if test="problemaward != null" >
        problemAward,
      </if>
      <if test="problemauthor != null" >
        problemAuthor,
      </if>
      <if test="problemowner != null" >
        problemOwner,
      </if>
      <if test="discussid != null" >
        discussId,
      </if>
      <if test="problemans != null" >
        problemAns,
      </if>
      <if test="problemanalysis != null" >
        problemAnalysis,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="problemid != null" >
        #{problemid,jdbcType=BIGINT},
      </if>
      <if test="problemtype != null" >
        #{problemtype,jdbcType=BIGINT},
      </if>
      <if test="problemtitle != null" >
        #{problemtitle,jdbcType=VARCHAR},
      </if>
      <if test="problemaward != null" >
        #{problemaward,jdbcType=BIGINT},
      </if>
      <if test="problemauthor != null" >
        #{problemauthor,jdbcType=VARCHAR},
      </if>
      <if test="problemowner != null" >
        #{problemowner,jdbcType=VARCHAR},
      </if>
      <if test="discussid != null" >
        #{discussid,jdbcType=BIGINT},
      </if>
      <if test="problemans != null" >
        #{problemans,jdbcType=VARCHAR},
      </if>
      <if test="problemanalysis != null" >
        #{problemanalysis,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fjut.oj.edu.pojo.TProblemExample" resultType="java.lang.Integer" >
    select count(*) from t_problem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_problem
    <set >
      <if test="record.problemid != null" >
        problemId = #{record.problemid,jdbcType=BIGINT},
      </if>
      <if test="record.problemtype != null" >
        problemType = #{record.problemtype,jdbcType=BIGINT},
      </if>
      <if test="record.problemtitle != null" >
        problemTitle = #{record.problemtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.problemaward != null" >
        problemAward = #{record.problemaward,jdbcType=BIGINT},
      </if>
      <if test="record.problemauthor != null" >
        problemAuthor = #{record.problemauthor,jdbcType=VARCHAR},
      </if>
      <if test="record.problemowner != null" >
        problemOwner = #{record.problemowner,jdbcType=VARCHAR},
      </if>
      <if test="record.discussid != null" >
        discussId = #{record.discussid,jdbcType=BIGINT},
      </if>
      <if test="record.problemans != null" >
        problemAns = #{record.problemans,jdbcType=VARCHAR},
      </if>
      <if test="record.problemanalysis != null" >
        problemAnalysis = #{record.problemanalysis,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_problem
    set problemId = #{record.problemid,jdbcType=BIGINT},
      problemType = #{record.problemtype,jdbcType=BIGINT},
      problemTitle = #{record.problemtitle,jdbcType=VARCHAR},
      problemAward = #{record.problemaward,jdbcType=BIGINT},
      problemAuthor = #{record.problemauthor,jdbcType=VARCHAR},
      problemOwner = #{record.problemowner,jdbcType=VARCHAR},
      discussId = #{record.discussid,jdbcType=BIGINT},
      problemAns = #{record.problemans,jdbcType=VARCHAR},
      problemAnalysis = #{record.problemanalysis,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fjut.oj.edu.pojo.TProblem" >
    update t_problem
    <set >
      <if test="problemtype != null" >
        problemType = #{problemtype,jdbcType=BIGINT},
      </if>
      <if test="problemtitle != null" >
        problemTitle = #{problemtitle,jdbcType=VARCHAR},
      </if>
      <if test="problemaward != null" >
        problemAward = #{problemaward,jdbcType=BIGINT},
      </if>
      <if test="problemauthor != null" >
        problemAuthor = #{problemauthor,jdbcType=VARCHAR},
      </if>
      <if test="problemowner != null" >
        problemOwner = #{problemowner,jdbcType=VARCHAR},
      </if>
      <if test="discussid != null" >
        discussId = #{discussid,jdbcType=BIGINT},
      </if>
      <if test="problemans != null" >
        problemAns = #{problemans,jdbcType=VARCHAR},
      </if>
      <if test="problemanalysis != null" >
        problemAnalysis = #{problemanalysis,jdbcType=VARCHAR},
      </if>
    </set>
    where problemId = #{problemid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fjut.oj.edu.pojo.TProblem" >
    update t_problem
    set problemType = #{problemtype,jdbcType=BIGINT},
      problemTitle = #{problemtitle,jdbcType=VARCHAR},
      problemAward = #{problemaward,jdbcType=BIGINT},
      problemAuthor = #{problemauthor,jdbcType=VARCHAR},
      problemOwner = #{problemowner,jdbcType=VARCHAR},
      discussId = #{discussid,jdbcType=BIGINT},
      problemAns = #{problemans,jdbcType=VARCHAR},
      problemAnalysis = #{problemanalysis,jdbcType=VARCHAR}
    where problemId = #{problemid,jdbcType=BIGINT}
  </update>
</mapper>