<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjut.oj.edu.dao.TUsersMapper" >
  <resultMap id="BaseResultMap" type="com.fjut.oj.edu.pojo.TUsers" >
    <id column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="userPwd" property="userpwd" jdbcType="VARCHAR" />
    <result column="nick" property="nick" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="BIGINT" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="motto" property="motto" jdbcType="VARCHAR" />
    <result column="registertime" property="registertime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="BIGINT" />
    <result column="acb" property="acb" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="acnum" property="acnum" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    userId, userPwd, nick, gender, school, Email, motto, registertime, type, acb, name, 
    phone, acnum
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fjut.oj.edu.pojo.TUsersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_users
    where userId = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_users
    where userId = #{userid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fjut.oj.edu.pojo.TUsersExample" >
    delete from t_users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fjut.oj.edu.pojo.TUsers" >
    insert into t_users (userId, userPwd, nick, 
      gender, school, Email, 
      motto, registertime, type, 
      acb, name, phone, acnum
      )
    values (#{userid,jdbcType=VARCHAR}, #{userpwd,jdbcType=VARCHAR}, #{nick,jdbcType=VARCHAR}, 
      #{gender,jdbcType=BIGINT}, #{school,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{motto,jdbcType=VARCHAR}, #{registertime,jdbcType=TIMESTAMP}, #{type,jdbcType=BIGINT}, 
      #{acb,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{acnum,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fjut.oj.edu.pojo.TUsers" >
    insert into t_users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userId,
      </if>
      <if test="userpwd != null" >
        userPwd,
      </if>
      <if test="nick != null" >
        nick,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="motto != null" >
        motto,
      </if>
      <if test="registertime != null" >
        registertime,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="acb != null" >
        acb,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="acnum != null" >
        acnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null" >
        #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="nick != null" >
        #{nick,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=BIGINT},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="motto != null" >
        #{motto,jdbcType=VARCHAR},
      </if>
      <if test="registertime != null" >
        #{registertime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIGINT},
      </if>
      <if test="acb != null" >
        #{acb,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="acnum != null" >
        #{acnum,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fjut.oj.edu.pojo.TUsersExample" resultType="java.lang.Integer" >
    select count(*) from t_users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_users
    <set >
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.userpwd != null" >
        userPwd = #{record.userpwd,jdbcType=VARCHAR},
      </if>
      <if test="record.nick != null" >
        nick = #{record.nick,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=BIGINT},
      </if>
      <if test="record.school != null" >
        school = #{record.school,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        Email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.motto != null" >
        motto = #{record.motto,jdbcType=VARCHAR},
      </if>
      <if test="record.registertime != null" >
        registertime = #{record.registertime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=BIGINT},
      </if>
      <if test="record.acb != null" >
        acb = #{record.acb,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.acnum != null" >
        acnum = #{record.acnum,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_users
    set userId = #{record.userid,jdbcType=VARCHAR},
      userPwd = #{record.userpwd,jdbcType=VARCHAR},
      nick = #{record.nick,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=BIGINT},
      school = #{record.school,jdbcType=VARCHAR},
      Email = #{record.email,jdbcType=VARCHAR},
      motto = #{record.motto,jdbcType=VARCHAR},
      registertime = #{record.registertime,jdbcType=TIMESTAMP},
      type = #{record.type,jdbcType=BIGINT},
      acb = #{record.acb,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      acnum = #{record.acnum,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fjut.oj.edu.pojo.TUsers" >
    update t_users
    <set >
      <if test="userpwd != null" >
        userPwd = #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="nick != null" >
        nick = #{nick,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=BIGINT},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="motto != null" >
        motto = #{motto,jdbcType=VARCHAR},
      </if>
      <if test="registertime != null" >
        registertime = #{registertime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIGINT},
      </if>
      <if test="acb != null" >
        acb = #{acb,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="acnum != null" >
        acnum = #{acnum,jdbcType=BIGINT},
      </if>
    </set>
    where userId = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fjut.oj.edu.pojo.TUsers" >
    update t_users
    set userPwd = #{userpwd,jdbcType=VARCHAR},
      nick = #{nick,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=BIGINT},
      school = #{school,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      motto = #{motto,jdbcType=VARCHAR},
      registertime = #{registertime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=BIGINT},
      acb = #{acb,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      acnum = #{acnum,jdbcType=BIGINT}
    where userId = #{userid,jdbcType=VARCHAR}
  </update>
</mapper>