<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjut.oj.edu.dao.CourseDao">

<!--//添加课程信息
    Boolean insertCourse(Course course);

    //查询所有有效购买时间课程信息
    List<Course> findAllCourse(RowBounds rowBounds);
    //按照ID查询课程信息
    Course findCourseById(Integer courseId);

    //查询所有过期课程信息
    List<Course> findAllCourseBad(RowBounds rowBounds);

    //删除课程信息
    Boolean deleteCourse(Integer courserId);

    //按照教师查询

    List<Course> findAllCourseByTer(RowBounds rowBounds,Integer teacherId);-->

<select id="findAllAccountGood" resultType="java.lang.Integer">
     select COUNT(*) from t_course
    where  courseStartTime &lt; now() and courseEndTime &gt; now()
</select>


    <select id="findAllCourse" resultType="com.fjut.oj.edu.model.Course">
    select * from t_course
    where  courseStartTime &lt; now() and courseEndTime &gt; now()
    </select>


    <select id="findAllCourseBad" resultType="com.fjut.oj.edu.model.Course">
        select * from t_course where courseStartTime &gt; now() or courseEndTime &lt; now()
    </select>

<!--//删除课程信息
    Boolean deleteCourse();-->

    <delete id="deleteCourse">
        delete from t_course where courseId=#{courseId};
    </delete>


    <!--//按照教师查询

    List<Course> findAllCourseByTer();-->
    <select id="findAllCourseByTer" resultType="com.fjut.oj.edu.model.Course">
        select * from t_course where teacherId =#{tercherId}
    </select>

<!--查询教师的所有课程总数-->
    <select id="findAllAccountTeacher" resultType="java.lang.Integer">
     select COUNT(*) from t_course
     where teacherId =#{tercherId}
</select>

    <!--//添加课程信息
    Boolean insertCourse(Course course);-->
    <insert id="insertCourse" parameterType="com.fjut.oj.edu.model.Course">
        insert into t_course (courseName,courseIntroduction,courseImg,courseLength,courseStartTime,courseEndTime,teacherId,courseCharge)
        values(#{courseName},#{courseIntroduction},#{courseImg},#{courseLength},#{courseStartTime},#{courseEndTime},#{teacherId},#{courseCharge})
    </insert>



    <select id="findCourseById" resultType="com.fjut.oj.edu.model.Course">
        select * from t_course where courseId =#{courseId}
    </select>

<!--修改课程信息-->
    <update id="updataCourse" parameterType="com.fjut.oj.edu.model.Course">
        update t_course set courseName = #{courseName}, courseIntroduction = #{courseIntroduction}, courseImg = #{courseImg},courseLength=#{courseLength}, courseStartTime = #{courseStartTime},teacherId=#{teacherId},courseCharge=#{courseCharge},courseNumAccount=#{courseNumAccount}
               where courseId = #{courseId};
    </update>
</mapper>
